<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Clients.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>History.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TwsApiCpp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>optionchain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>073F69431DEB672D000931A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0747E7F61CF1D698003F4F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079A565F1CFDFF7E007A780D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>079A566E1CFE256A007A780D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F0F6211D14869B005CE00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F0F62E1D148751005CE00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F0F63B1D1487CA005CE00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
